@{
    ViewBag.Title = "About";
}
<h2>Acerca de...</h2>
<h3>¿Que es Sapientia Fons?</h3>

<p>Es una plataforma para crear los contenidos que sera expuestos a traves de la libreria javascript <a href="https://github.com/Lug16/Sapientia" target="_blank">Sapientia</a> </p>
