<h2>Contacto</h2>

<address>
    Universidad San Buenaventura Medellin<br />
    San Benito<br />
    <abbr title="Phone">P:</abbr>
    +57 4 5145600
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:lvelez@esanbuenaventura.edu.co">lvelez@usanbuenaventura.edu.co</a><br />
    <strong>Mercadeo:</strong> <a href="mailto:Marketing@example.com">ccastro@usanbuenaventura.edu.co</a>
</address>