<div class="jumbotron">
    <h1>Sapientia Fons</h1>
    <p class="lead col-md-6">
        Plataforma principal en la cual se crea el contenido que se desplegara en cualquier dispositivo que este referenciando la libreria Sapientia Js.<br /><br />
        Multiples contenidos pueden ser referenciados, materiales como pdfs, presentaciones powerpoint, videos, entre otros.
    </p>

    <img src="~/Content/images/Method.png" class="img-responsive img-thumbnail col-md-6" width="400" />
    <p><a href="https://github.com/Lug16/Sapientia" target="_blank" class="btn btn-primary btn-lg">Sapientia Js &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Framework para la creación de contenidos académicos</h2>
        <div class="panel panel-body">
            <img src="~/Content/images/Procedure.png" class="col-md-12" />
        </div>
        <p>
            Sapientia es un framework desarrollado en Javascript con el fin de desplegar contenidos académicos sobre cualquier navegador, solamente usando una referencia al contenidos específico.
        </p>
        <p><a class="btn btn-default" href="https://github.com/Lug16/Sapientia">Saber más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Facil de utilizar</h2>
        <div class="panel panel-body">
            <img src="~/Content/images/codecode_sm.png" class="col-md-12" />
        </div>
        <p>Sapientia Js solo necesita ser <a href="https://raw.githubusercontent.com/Lug16/Sapientia/master/js/sapientia.js" target="_blank">referenciado</a> desde cualquier documento HTML en el cual se quiera desplegar el contenido generado en @Html.ActionLink("Sapientia Fons", "Login", "Account")  </p>
        <p><a class="btn btn-default" href="https://github.com/Lug16/Sapientia">Saber más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Open Source</h2>
        <div class="panel panel-body">
            <img src="~/Content/images/github-512.png" class="col-md-12" />
        </div>
        <p>Sapientia esta pensada para ser compartida y esto tambien incluye su desarrollo. Con todo su codigo fuente accesible desde el repositorio público <a href="https://github.com/Lug16/Sapientia" target="_blank">GitHub</a> todo desarrollador que quiera aumentar las capacidades de Sapientia Js podra hacerlo</p>
        <p><a class="btn btn-default" href="https://github.com/Lug16/Sapientia">Saber más &raquo;</a></p>
    </div>
</div>